@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: none;
  background: hsl(36deg 10% 95%);
  text-rendering: optimizeLegibility;
  font-feature-settings: "kern"1;
  font-kerning: normal;
  font-size: 18px !important;
}